[submodule "ros2/ws/Onboarding"]
	path = ws/Onboarding
	url = https://github.com/omarorajain/ros2_onboarding.git
[submodule "cpp_gps_transform"]
	path = ws/original_cpp_gps_transform
	url = https://github.com/umigv/nav_stack.git
	branch = gps_transform
[submodule "ws/src/nav_stack"]
	path = ws/src/nav_stack
	url = https://github.com/umigv/nav_stack.git
[submodule "ws/src/simulation_stack"]
	path = ws/src/simulation_stack
	url = https://github.com/umigv/nav_stack.git
